#pixels-container{
    outline: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    height: 40vw;
    width: 40vw;
}

#pixels-container > div{
    outline: 0.2px solid black;
}

.drawn{
}

#palette-container{
    outline:  2px solid black;
    display: flex;
    height: 4.5vw;
    margin-top: 10px;
    width: 40vw;
}

.color{
    outline:  0.2px solid black;
    width: 11.25%;
}

#red{
    background-color: red;
}

#orange{
    background-color: orange;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#purple{
    background-color: purple;
}

#black{
    background-color: black;
}

#white{
    background-color: white;
}

#rainbow{
    background-color: aqua;
}

span{
    user-select: none;
    text-align: center;
    font-size: 4vw;
}